!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    script.
      $(document).ready(function(){
        var otpObj;
        $("#sendotp").click(function(){
          $.ajax({
            url: '/generate',
            type: 'POST',
            dataType: 'json',
            data: {},
            success: function (data) {
              //handle the returned data
             // alert(JSON.stringify(data));
              otpObj=data;
              $("#validatediv").show();
            }
          });
        });
        $("#validatediv").hide();
        $("#providers").hide();
        $("#validate").click(function(){
          var otpcode = $('input[name=otp]').val();
          $.ajax({
            url: '/validate',
            type: 'POST',
            dataType: 'json',
            data:{"otpCode":otpcode,"otpKey": otpObj.otpKey},
            success: function (data) {
              //handle the returned data
              $("#providers").show();
              $("#validatediv").hide();
              $("#sendotp").hide();
              $("#otp").hide();
            },
            error: function(err) {
              alert("Please enter valid OTP code");
            }
          });
        });
      });
  body
    div
      #otp.container
        h3 Authentication through OTP

        button#sendotp Send Otp

        #validatediv.container
          input#inputotp(type='text', placeholder='otp', name='otp', required='required')

          button#validate(type='submit') validate
        br

      #providers.container
        h1 OAuth Social Authentication.

        p.lead Please login with the following provider options.
        if config.facebook
          a(href='/auth/facebook') Login via Facebook
        br
        if config.twitter
          a(href='/auth/twitter') Login via Twitter
        br
        if config.google
          a(href='/auth/google') Login via Google
        br
        if config.linkedin
          a(href='/auth/linkedin') Login via LinkedIn
        br
        if config.github
          a(href='/auth/github') Login via github

